.data_table {
  width: 100%;
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
  }
  
  .loader_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
}
